@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: linear-gradient(135deg, #000, rgb(56, 4, 105) , #7536db, rgb(193, 107, 233), #fff );
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
    font-family: 'Poppins', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body::before
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
body::after
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(135deg, #34025e,#fc3333, #fff);
    background-size: 50% 50%;
    clip-path: circle(20% at 10% 10%);
}
.spinner
{
    box-sizing: border-box;
    margin-top: 25px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    border-left: 12px solid #ffffff;
    border-right: 12px solid #ffffff;
    overflow: hidden;
    position: fixed;
    left: 0.5em;
    top: 0.5em;
    margin-bottom: 0em;
    opacity: 1;

    -webkit-animation: rotateplane 2s infinite ease-in-out;
    animation: rotateplane 2s infinite ease-in-out;
}
    
.spinner:before,
.spinner:after {
    border-left: 14px solid #000000;
    border-right: 14px solid #000000;        
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 30px;
}

.spinner:before {
    top: 0;
    left: 4px;
}

.spinner:after {
    bottom: 0;
    left: 4px;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
.image
{   box-sizing: border-box;
    z-index: 1;
    position: fixed;
    left: 6%;
    top: 1%;
    margin-bottom: 0em;
    opacity: 1;
    width: 180px;
    height: 45px;
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;  
}
.tagline
{
    
    font-size: small;
    color: rgb(255, 255, 255);
    font-weight: 100;
    z-index: 1;
    position: fixed;
    left: 7%;
    top: 7%;
    margin-bottom: 0em;
    opacity: 1;
    width: 180px;
    height: 45px;
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;  
}

ul.header
{
    position: fixed;
    margin-top: 8%;
    margin-left: -92%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
}
ul.header li
{
    list-style: none;
}
ul.header li a
{
    position: relative;
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 15px 15px;
    z-index: 1000;
    backdrop-filter: blur(15px);
}
ul.header li a ion-icon
{
    font-size: 2em;
    pointer-events: none;
    opacity: 0.25;
    transition: 0.25s;
}
ul.header li.active a ion-icon
{
    opacity: 1;
}
#marker
{
    position: absolute;
    justify-content: center;
    top: 8px;
    margin-left: 22px;
    transition: 0.5s;
    z-index: 1;
}
#marker::before
{
    content: '';
    position: absolute;
    justify-content: center;
    top: 12px;
    left: 92%;
    transform: translateX(0%);
    width: 30px;
    height: 30px;
    border-radius: 8px;  
}
ul.header li:nth-child(1).active ~ #marker::before
{
    background: #ff9900;
    box-shadow:0 0 20px #ff9900,
    0 0 30px #ff9900,
    0 0 45px #ff9900,
   0 0 60px #ff9900;
}
ul.header li:nth-child(2).active ~ #marker::before
{
    background: #ff0;
    box-shadow:0 0 15px #ff0,
    0 0 30px #ff0,
    0 0 45px #ff0,
   0 0 60px #ff0;
}
ul.header li:nth-child(3).active ~ #marker::before
{
    background: #0f0;
    box-shadow:0 0 15px #0f0,
    0 0 30px #0f0,
    0 0 45px #0f0,
   0 0 60px #0f0;
}
ul.header li:nth-child(4).active ~ #marker::before
{
    background: #df2fff;
    box-shadow:0 0 15px #df2fff,
    0 0 30px #df2fff,
    0 0 45px #df2fff,
   0 0 60px #df2fff;
}
ul.header li:nth-child(5).active ~ #marker::before
{
    background: #ff308f;
    box-shadow:0 0 15px #ff308f,
    0 0 30px #ff308f,
    0 0 45px #ff308f,
   0 0 60px #ff308f;
}

.container2
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.container2 .box
{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
    z-index: 1;
}

.container2 .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container2 .box::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(10px);
    transition: 0.5s;
}
.container2 .box:hover:before,
.container2 .box:hover:after
{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}
.container2 .box:nth-child(1):before,
.container2 .box:nth-child(1):after
{
background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.container2 .box:nth-child(2):before,
.container2 .box:nth-child(2):after
{
background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.container2 .box:nth-child(3):before,
.container2 .box:nth-child(3):after
{
background: linear-gradient(315deg, #4dff03, #00d0ff);
}
.container2 .box span
{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 50;
   pointer-events: none;
}

.container2 .box span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.container2 .box:hover span::before
{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container2 .box span::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}
.container2 .box:hover span::after
{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate
{
0%,100%
{
    transform: translateY(10px);
}
50%
{
    transform: translateY(-10px);
}
}
.container2 .box .content
{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;
}
.container2 .box:hover .content
{
    left: -25px;
    padding: 60px 40px;
}
.container2 .box .content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.container2 .box .content p
{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}
.container2 .box .content a
{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}
.footerbase
    {
        content: '';
        position: fixed;
        overflow: hidden;
        bottom: 15px;
        width: 100%;
        height: 60px;
        box-shadow: 0 5px 45px rgba(0,0,0,0.25);
        z-index: 1;
        backdrop-filter: blur(5px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
ul.footer
{
    position: fixed;
    justify-content: center;
    align-items: baseline;
    margin-bottom: -42%;
    display: flex;
    z-index: 2;
}
ul.footer li 
{
   position: relative;
   list-style: none;
   margin: 10px; 
}
ul.footer li a
{
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(3px);
    transition: 0.5s;
    overflow: hidden;
}
ul.footer li a:hover
{
    transform: translateY(-20px);
}
ul.footer li a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 1s;

}
ul.footer li a:hover::before
{
    transform: skewX(45deg) translateX(-150px);
}
