    <div class="spinner"></div>
    <div class="image"><img src="assets/images/1.png" alt=".webly" width="180px" height="45px"></div>
    <div class="tagline">Design in a Web-manner.</div>
    <ul class="header">
        <li><a href="index.html"<%= page === 'index' ? ' aria-current="page"' : '' %>><ion-icon name="home-outline"></ion-icon></a></li>
        <li><a href="login.html"<%= page === 'login' ? ' aria-current="page"' : '' %>><ion-icon name="person-outline"></ion-icon></a></li>
        <li><a href="projects.html"<%= page === 'projects' ? ' aria-current="page"' : '' %>><ion-icon name="add-circle-outline"></ion-icon></a></li>
        <li><a href="about.html"<%= page === 'about' ? ' aria-current="page"' : '' %>><ion-icon name="people-outline"></ion-icon></a></li>
        <li><a href="reviews.html"<%= page === 'reviews' ? ' aria-current="page"' : '' %>><ion-icon name="chatbubble-outline"></ion-icon></a></li>
        <div id="marker"></div>
    </ul>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
